@import "tailwindcss";

@theme {
  --color-primary: #8B5CF6;
  --color-accent: #3B82F6;
  --color-background: #F3F4F6;
  --color-surface: #FFFFFF;
  --color-text: #1F2937;
  --color-muted: #6B7280;
  --color-success: #86EFAC;
  --color-danger: #F87171;
}